<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Student</title>  
    <style>
    body{
         width: 70%;
         margin: Auto;
         font-size: 30px;
         padding-top: 30px;
         background-color: 	#808080;
    }
    #t1{
        font-size: 30px;
        background: #808080;
    }
    </style>
</head>  
<body>  
    <h1>Student Information</h1>   
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>  
        <tr><td>Address</td><td><input type="text" name="address"></td></tr>   
    </table>
    <br>
            <input type="submit" value="Submit" id="t1">  
    </form>  
    <br>
    
</body>  
</html>  