<!DOCTYPE html>  
<html>  
<head>  
    <title>delete record</title> 
    <style>
    body{
         width: 80%;
         margin: Auto;
         font-size: 30px;
         padding-top: 30px;
         background-color: 	#808080;
    }
    #t1{
        font-size: 30px;
        background: #808080;
    }
    </style>
</head>  
<body>  
  
    <h3>Remove Student from the list</h3>  
  
<form action="/deleterecord" method="post">  
Student Id <input type="text" name="id">  
<br>
<br>
<input type="submit" value="Submit" id='t1'>  
</form>  
</body>  
</html>  