<!DOCTYPE html>  
<html>  
<head>  
    <title>save details</title>  
    <style>
    body  
    {
        background-color: #808080; 
        width: 80%; 
        margin: Auto;
        font-size: 50px
        font-family: Arial, Helvetica, sans-serif ;
        }
    h1   
    {
        color: #000;
        font-size: 50px;
    }
    a    
    {
        color: 	#000000;
        font-size : 30px;
    }
    </style>
</head>  
<body>  
    <h3>{{msg}}</h3>  
    <a href="/view">View Students</a>  
</body>  
</html>