<!DOCTYPE html>  
<html>  
<head>  
    <title>Update record</title>  
    <style>
    body{
         width: 80%;
         margin: Auto;
         font-size: 40px;
         padding-top: 30px;
         background-color: 	#808080;
    }
    #t1{
        font-size: 30px;
        background: #808080;
    }
    
    </style>
</head>  
<body>  
    <form action = "/updatedetails" method="post">
        <table>
            <tr><td>Student id</td><td>
            <input type="text" name="id"></td></tr>
            <tr><td>Name</td><td>
            <input type="text" name="name"></td></tr>  
            <tr><td>Email</td><td>
            <input type="email" name="email"></td></tr>  
            <tr><td>Address</td><td>
            <input type="text" name="address"></td></tr>  
            
        </table>  
          <br>
        <input type="submit" value="Submit" id="t1"}> 
        </form> 
      
 

 
</body>  
</html>  